# Overview

In [1]:
import pandas as pd

# load csv file
og_data = pd.read_csv("data/train.csv")

# drop first column (unnamed)
og_data = og_data.drop(columns=["Unnamed: 0"])
og_data

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [2]:
# show nan values
og_data.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [3]:
# show number of unique values per col
og_data.nunique()

id                                   103904
Gender                                    2
Customer Type                             2
Age                                      75
Type of Travel                            2
Class                                     3
Flight Distance                        3802
Inflight wifi service                     6
Departure/Arrival time convenient         6
Ease of Online booking                    6
Gate location                             6
Food and drink                            6
Online boarding                           6
Seat comfort                              6
Inflight entertainment                    6
On-board service                          6
Leg room service                          6
Baggage handling                          5
Checkin service                           6
Inflight service                          6
Cleanliness                               6
Departure Delay in Minutes              446
Arrival Delay in Minutes                455
satisfaction                              2
dtype: int64

# Analysis

In [4]:
from helper_functions import extended_describe

In [5]:
data = og_data.copy()
extended_describe(data)

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
Total de valores,"103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,904","103,594"
Media,"64,924.21",39.38,"1,189.45",2.73,3.06,2.76,2.98,3.20,3.25,3.44,3.36,3.38,3.35,3.63,3.30,3.64,3.29,14.82,15.18
Desviación estándar,"37,463.81",15.11,997.15,1.33,1.53,1.40,1.28,1.33,1.35,1.32,1.33,1.29,1.32,1.18,1.27,1.18,1.31,38.23,38.70
Mínimo,1,7,31,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
Q1,"32,533.75",27,414,2,2,2,2,2,2,2,2,2,2,3,3,3,2,0,0
Q2,"64,856.50",40,843,3,3,3,3,3,3,4,4,4,4,4,3,4,3,0,0
Q3,"97,368.25",51,"1,743",4,4,4,4,4,4,5,4,4,4,5,4,5,4,12,13
Máximo,"129,880",85,"4,983",5,5,5,5,5,5,5,5,5,5,5,5,5,5,"1,592","1,584"
RIC,"64,834.50",24,"1,329",2,2,2,2,2,2,3,2,2,2,2,1,2,2,12,13
Asimetría,0.00,-0.00,1.11,0.04,-0.33,-0.02,-0.06,-0.15,-0.45,-0.48,-0.37,-0.42,-0.35,-0.68,-0.36,-0.69,-0.30,6.73,6.60
Curtosis,-1.20,-0.72,0.27,-0.85,-1.04,-0.91,-1.03,-1.15,-0.70,-0.93,-1.06,-0.89,-0.98,-0.39,-0.83,-0.36,-1.01,100.27,94.54